In [1]:
# | default_exp downloading

# Downloading
> Fastkafka app for Downloading infobip stuff

In [2]:
# | export
from os import environ
import re
from pathlib import Path
import tempfile
from typing import Union, Optional, Tuple, Dict, Any
from contextlib import contextmanager
from urllib.parse import quote_plus as urlquote
from urllib.parse import unquote_plus as urlunquote
from datetime import datetime, timedelta

from sqlalchemy.engine import Connection, create_engine
import pandas as pd
import dask.dataframe as dd

In [3]:
# | export

from infobip_kafka_service.logger import get_logger
logger = get_logger(__name__)

In [4]:
# export


def _create_clickhouse_connection_string(
    username: str,
    password: str,
    host: str,
    port: int,
    database: str,
    protocol: str,
) -> str:
    # Double quoting is needed to fix a problem with special character '?' in password
    quoted_password = urlquote(urlquote(password))
    conn_str = (
        f"clickhouse+{protocol}://{username}:{quoted_password}@{host}:{port}/{database}"
    )

    return conn_str

In [5]:
actual = _create_clickhouse_connection_string(
    username="default",
    password="123456",
    host="localhost",
    port=8123,
    database="infobip",
    #     table="events",
    protocol="http",
)
assert actual == "clickhouse+http://default:123456@localhost:8123/infobip"

actual = _create_clickhouse_connection_string(
    username="default",
    password="123456",
    host="localhost",
    port=9000,
    database="infobip",
    #     table="events",
    protocol="native",
)
assert actual == "clickhouse+native://default:123456@localhost:9000/infobip"

actual = _create_clickhouse_connection_string(
    username="default",
    password="123?456@",
    host="localhost",
    port=9000,
    database="infobip",
    #     table="events",
    protocol="native",
)
assert (
    actual == "clickhouse+native://default:123%253F456%2540@localhost:9000/infobip"
), actual

In [6]:
# export


def create_db_uri_for_clickhouse_datablob(
    username: str,
    password: str,
    host: str,
    port: int,
    table: str,
    database: str,
    protocol: str,
) -> str:
    """Create uri for clickhouse datablob based on connection params

    Args:
        username: Username of clickhouse database
        password: Password of clickhouse database
        host: Host of clickhouse database
        port: Port of clickhouse database
        table: Table of clickhouse database
        database: Database to use
        protocol: Protocol to connect to clickhouse (native/http)

    Returns:
        An uri for the clickhouse datablob
    """
    clickhouse_uri = _create_clickhouse_connection_string(
        username=username,
        password=password,
        host=host,
        port=port,
        database=database,
        protocol=protocol,
    )
    clickhouse_uri = f"{clickhouse_uri}/{table}"
    return clickhouse_uri

In [7]:
db_test_cases = [
    dict(
        username="default",
        password="123456",
        host="localhost",
        port=9000,
        database="infobip",
        table="events",
        protocol="native",
        db_uri="clickhouse+native://default:123456@localhost:9000/infobip/events",
    )
]

for test_case in db_test_cases:
    actual_db_uri = create_db_uri_for_clickhouse_datablob(
        username=test_case["username"],
        password=test_case["password"],
        host=test_case["host"],
        port=test_case["port"],
        table=test_case["table"],
        database=test_case["database"],
        protocol=test_case["protocol"],
    )
    print(f"{actual_db_uri=}")
    assert actual_db_uri == test_case["db_uri"]

actual_db_uri='clickhouse+native://default:123456@localhost:9000/infobip/events'

In [8]:
# export


def _get_clickhouse_connection_params_from_db_uri(
    db_uri: str,
) -> Tuple[str, str, str, int, str, str, str, str]:
    """
    Function to get clickhouse connection params from db_uri of the db datablob

    Args:
        db_uri: DB uri of db datablob
    Returns:
        The username, password, host, port, table, database, protocol, database_server of the db datablob as a tuple
    """
    result = re.search("(.*)\+(.*):\/\/(.*):(.*)@(.*):(.*)\/(.*)\/(.*)", db_uri)
    database_server = result.group(1)  # type: ignore
    protocol = result.group(2)  # type: ignore
    username = result.group(3)  # type: ignore
    password = urlunquote(urlunquote(result.group(4)))  # type: ignore
    host = result.group(5)  # type: ignore
    port = int(result.group(6))  # type: ignore
    database = result.group(7)  # type: ignore
    table = result.group(8)  # type: ignore
    return username, password, host, port, table, database, protocol, database_server

<>:15: SyntaxWarning: invalid escape sequence '\+'
<>:15: SyntaxWarning: invalid escape sequence '\+'
/tmp/ipykernel_1708/444244522.py:15: SyntaxWarning: invalid escape sequence '\+'
  result = re.search("(.*)\+(.*):\/\/(.*):(.*)@(.*):(.*)\/(.*)\/(.*)", db_uri)

In [9]:
for test_case in db_test_cases:
    (
        actual_username,
        actual_password,
        actual_host,
        actual_port,
        actual_table,
        actual_database,
        actual_protocol,
        actual_database_server,
    ) = _get_clickhouse_connection_params_from_db_uri(db_uri=test_case["db_uri"])
    display(
        f"{actual_username=}",
        f"{actual_password=}",
        f"{actual_host=}",
        f"{actual_port=}",
        f"{actual_table=}",
        f"{actual_database=}",
        f"{actual_protocol=}",
        f"{actual_database_server=}",
    )

    assert actual_username == test_case["username"]
    assert actual_password == test_case["password"]
    assert actual_host == test_case["host"]
    assert actual_port == test_case["port"]
    assert actual_table == test_case["table"]
    assert actual_database == test_case["database"]
    assert actual_protocol == test_case["protocol"]
    assert actual_database_server == "clickhouse"

"actual_username='default'"

"actual_password='123456'"

"actual_host='localhost'"

'actual_port=9000'

"actual_table='events'"

"actual_database='infobip'"

"actual_protocol='native'"

"actual_database_server='clickhouse'"

In [10]:
#| exporti

def get_clickhouse_params_from_env_vars() -> Dict[str, Union[str, int]]:
    return dict(
        username=environ["KAFKA_CH_USERNAME"],
        password=environ["KAFKA_CH_PASSWORD"],
        host=environ["KAFKA_CH_HOST"],
        database=environ["KAFKA_CH_DATABASE"],
        port=int(environ["KAFKA_CH_PORT"]),
        protocol=environ["KAFKA_CH_PROTOCOL"],
        table=environ["KAFKA_CH_TABLE"],
    )

In [11]:
assert set(get_clickhouse_params_from_env_vars().keys()) == set(
    ["database", "host", "password", "port", "protocol", "table", "username"]
)

In [12]:
# export


@contextmanager  # type: ignore
def get_clickhouse_connection(  # type: ignore
    *,
    username: str,
    password: str,
    host: str,
    port: int,
    database: str,
    table: str,
    protocol: str,
    #     verbose: bool = False,
) -> Connection:
    if protocol != "native":
        raise ValueError()
    conn_str = _create_clickhouse_connection_string(
        username=username,
        password=password,
        host=host,
        port=port,
        database=database,
        protocol=protocol,
    )
    
#     print(f"{conn_str=}")

    db_engine = create_engine(conn_str)
    # args, kwargs = db_engine.dialect.create_connect_args(db_engine.url)
    with db_engine.connect() as connection:
        logger.info(f"Connected to database using {db_engine}")
        yield connection

In [13]:
# rename events to events_distributed

db_params = get_clickhouse_params_from_env_vars()

with get_clickhouse_connection(
    **db_params,
) as connection:
    assert type(connection) == Connection

    query = f"SELECT database, name from system.tables"
    df = pd.read_sql(sql=query, con=connection)
    display(df)

    database = db_params["database"]
    xs = df.loc[(df.database == db_params["database"]) & (df.name == "events")]
    if xs.shape[0] > 0:
        query = f"RENAME TABLE {database}.events TO {database}.events_distributed"
        ys = pd.read_sql(sql=query, con=connection)
        display(ys)

24-01-09 09:08:33.782 [INFO] __main__: Connected to database using Engine(clickhouse+native://default:***@108.142.129.124:9000/airtstaging)

              database          name
0   INFORMATION_SCHEMA       COLUMNS
1   INFORMATION_SCHEMA      SCHEMATA
2   INFORMATION_SCHEMA        TABLES
3   INFORMATION_SCHEMA         VIEWS
4          airtstaging  infobip_data
..                 ...           ...
89              system         users
90              system      warnings
91              system         zeros
92              system      zeros_mt
93                test            dt

[94 rows x 2 columns]

In [14]:
# export

def fillna(s: Optional[Any]) -> str:
    quote = "'"
#     return f"{quote + '' + quote if (s is None) else quote + str(s) + quote}"
    return f"{quote + ('' if s is None else str(s)) + quote}"

In [15]:
assert fillna("") == "''"
assert fillna("Davor") == "'Davor'"
assert fillna(None) == "''"

In [16]:
def create_duplicated_test_ddf():
    df = pd.DataFrame(
        dict(
            AccountId=12345,
            PersonId=[1, 2, 2, 3, 3, 3],
            OccurredTime=[
                datetime.fromisoformat(
                    f"2023-07-10T13:27:{i:02d}.{123456*(i+1) % 1_000_000:06d}"
                )
                for i in range(6)
            ],
            DefinitionId=["one"] * 3 + ["two"] * 2 + ["three"],
            ApplicationId = None,
        )
    )
    df["OccurredTimeTicks"] = df["OccurredTime"].astype(int) // 1000
    df = pd.concat([df]*3)
    df = df.sort_values(list(df.columns))
#     df = df.set_index("PersonId")
    return dd.from_pandas(df, npartitions=2)

ddf = create_duplicated_test_ddf()
ddf

Dask DataFrame Structure:
              AccountId PersonId    OccurredTime DefinitionId ApplicationId OccurredTimeTicks
npartitions=2
0                 int64    int64  datetime64[ns]       string        string             int64
3                   ...      ...             ...          ...           ...               ...
5                   ...      ...             ...          ...           ...               ...
Dask Name: to_pyarrow_string, 2 graph layers

In [17]:
# export

def _pandas2dask_map(df: pd.DataFrame, *, history_size: Optional[int] = None) -> pd.DataFrame:
    df = df.reset_index()
    df = df.sort_values(["PersonId", "OccurredTime", "OccurredTimeTicks"])
    df = df.drop_duplicates()
    df = df.set_index("PersonId")
    return df

In [18]:
ddf = create_duplicated_test_ddf()
df = ddf.compute().set_index("PersonId")

expected = pd.DataFrame({
    "AccountId": [12345, 12345, 12345, 12345, 12345, 12345],
    "OccurredTime": [
        "2023-07-10 13:27:00.123456",
        "2023-07-10 13:27:01.246912",
        "2023-07-10 13:27:02.370368",
        "2023-07-10 13:27:03.493824",
        "2023-07-10 13:27:04.617280",
        "2023-07-10 13:27:05.740736",
    ],
    "DefinitionId": ["one", "one", "one", "two", "two", "three"],
    "ApplicationId": [None, None, None, None, None, None],
    "OccurredTimeTicks": [
        1688995620123456,
        1688995621246912,
        1688995622370368,
        1688995623493824,
        1688995624617280,
        1688995625740736,
    ],
}, index=pd.Index([1, 2, 2, 3, 3, 3], name="PersonId"))
expected["OccurredTime"] = pd.to_datetime(expected["OccurredTime"])
expected["DefinitionId"] = expected["DefinitionId"].astype("string[pyarrow]")
expected["ApplicationId"] = expected["ApplicationId"].astype("string[pyarrow]")

actual = _pandas2dask_map(df)

pd.testing.assert_frame_equal(actual, expected)

In [19]:
actual.head()

,AccountId,OccurredTime,DefinitionId,ApplicationId,OccurredTimeTicks
PersonId,,,,,
1,12345,2023-07-10 13:27:00.123456,one,<NA>,1688995620123456
2,12345,2023-07-10 13:27:01.246912,one,<NA>,1688995621246912
2,12345,2023-07-10 13:27:02.370368,one,<NA>,1688995622370368
3,12345,2023-07-10 13:27:03.493824,two,<NA>,1688995623493824
3,12345,2023-07-10 13:27:04.617280,two,<NA>,1688995624617280

In [20]:
# export

def _pandas2dask(downloaded_path: Path, output_path: Path, *, history_size: Optional[int] = None) -> None:
    with tempfile.TemporaryDirectory() as td:
        d = Path(td)

        ddf = dd.read_parquet(
            downloaded_path,
            blocksize=None,
        )
        ddf["AccountId"] = ddf["AccountId"].astype("int64")
        
        # set index
        ddf = ddf.set_index("PersonId")
        ddf.to_parquet(d, engine="pyarrow")

        # deduplicate and sort by PersonId and OccurredTime
        ddf = dd.read_parquet(
            d
        )

        ddf = ddf.map_partitions(_pandas2dask_map)

        ddf.to_parquet(output_path)

In [21]:
with tempfile.TemporaryDirectory() as td:
    d = Path(td)
    ddf = create_duplicated_test_ddf()
    (d / "duplicated").mkdir()
    for i, partition in enumerate(ddf.partitions):
        partition.compute().to_parquet(d / "duplicated" / f"part_{i:06d}.parquet")

    _pandas2dask(d / "duplicated", d / "result")

    ddf = dd.read_parquet(d / "result")

    display(ddf)
    display(ddf.compute())

    expected = pd.DataFrame({
        "AccountId": [12345, 12345, 12345, 12345, 12345, 12345],
        "OccurredTime": [
            "2023-07-10 13:27:00.123456",
            "2023-07-10 13:27:01.246912",
            "2023-07-10 13:27:02.370368",
            "2023-07-10 13:27:03.493824",
            "2023-07-10 13:27:04.617280",
            "2023-07-10 13:27:05.740736",
        ],
        "DefinitionId": ["one", "one", "one", "two", "two", "three"],
        "ApplicationId": [None, None, None, None, None, None],
        "OccurredTimeTicks": [
            1688995620123456,
            1688995621246912,
            1688995622370368,
            1688995623493824,
            1688995624617280,
            1688995625740736,
        ],
    }, index=pd.Index([1, 2, 2, 3, 3, 3], name="PersonId"))
    expected["OccurredTime"] = pd.to_datetime(expected["OccurredTime"])
    expected["DefinitionId"] = expected["DefinitionId"].astype("string[pyarrow]")
    expected["ApplicationId"] = expected["ApplicationId"].astype("string[pyarrow]")

    pd.testing.assert_frame_equal(ddf.compute(), expected)

Dask DataFrame Structure:
              AccountId    OccurredTime DefinitionId ApplicationId OccurredTimeTicks
npartitions=2
                  int64  datetime64[ns]       string        string             int64
                    ...             ...          ...           ...               ...
                    ...             ...          ...           ...               ...
Dask Name: read-parquet, 1 graph layer

,AccountId,OccurredTime,DefinitionId,ApplicationId,OccurredTimeTicks
PersonId,,,,,
1,12345,2023-07-10 13:27:00.123456,one,<NA>,1688995620123456
2,12345,2023-07-10 13:27:01.246912,one,<NA>,1688995621246912
2,12345,2023-07-10 13:27:02.370368,one,<NA>,1688995622370368
3,12345,2023-07-10 13:27:03.493824,two,<NA>,1688995623493824
3,12345,2023-07-10 13:27:04.617280,two,<NA>,1688995624617280
3,12345,2023-07-10 13:27:05.740736,three,<NA>,1688995625740736

In [22]:
# export

def _download_account_id_rows_as_parquet(
    *,
    account_id: Union[int, str],
    application_id: Optional[str],
    history_size: Optional[int] = None,
    host: str,
    port: int,
    username: str,
    password: str,
    database: str,
    protocol: str,
    table: str,
    chunksize: Optional[int] = 1_000_000,
    index_column: str = "PersonId",
    output_path: Path,
) -> None:

    with get_clickhouse_connection(  # type: ignore
        username=username,
        password=password,
        host=host,
        port=port,
        database=database,
        table=table,
        protocol=protocol,
    ) as connection:

        with tempfile.TemporaryDirectory() as td:
            d = Path(td)
            i = 0

            query = f"SELECT DISTINCT * FROM {table} WHERE AccountId={account_id}" # nosec B608
            if application_id is not None and application_id != "":
                 query = query + f" AND ApplicationId='{application_id}'"
            query = query + " ORDER BY PersonId ASC, OccurredTimeTicks DESC"
            if history_size:
                query = query + f" LIMIT {history_size} BY PersonId"
    
            logger.info(f"_download_account_id_rows_as_parquet(): {query=}")

            (d / "downloaded").mkdir(parents=True, exist_ok=True)
            for df in pd.read_sql(sql=query, con=connection, chunksize=chunksize):
                fname = d / "downloaded" / f"clickhouse_data_{i:09d}.parquet"
                logger.info(
                    f"_download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: {fname}"
                )
                df.to_parquet(fname, engine="pyarrow")  # type: ignore
                i = i + 1
                
            logger.info(
                f"_download_account_id_rows_as_parquet() Rewriting temporary parquet files from {d / f'clickhouse_data_*.parquet'} to output directory {output_path}"
            )
            _pandas2dask(d / "downloaded", output_path)
                        
            # test if everything is ok
            test_ddf = dd.read_parquet(output_path).head()           
           
           
def download_account_id_rows_as_parquet(
    *,
    account_id: Union[int, str],
    application_id: Optional[str],
    history_size: Optional[int] = None,
    chunksize: Optional[int] = 1_000_000,
    index_column: str = "PersonId",
    output_path: Path,
) -> None:
    
    db_params = get_clickhouse_params_from_env_vars()
    
    return _download_account_id_rows_as_parquet(
        account_id=account_id,
        application_id=application_id,
        history_size=history_size,
        chunksize=chunksize,
        index_column=index_column,
        output_path=output_path,
        **db_params, # type: ignore
    )

In [23]:
# skip

AccountId=12344
ModelId=20062

for ApplicationId in [None, "", "A1F7EDD6E6BA23EBCD167C9C986ACFCB"]:
    print("*"*120)
    print()
    print(f"{ApplicationId=}")
    print()
    
    output_path = Path(tempfile.mkdtemp(prefix="clickhouse_download_"))
    output_path.mkdir(exist_ok=True, parents=True)

    download_account_id_rows_as_parquet(
        account_id=AccountId,
        application_id=ApplicationId,
        output_path=output_path,
    )

    ddf = dd.read_parquet(output_path)
    display(ddf.head())
    print(f"{ddf.shape[0].compute()=:,d}")

************************************************************************************************************************

ApplicationId=None

24-01-09 09:08:34.655 [INFO] __main__: Connected to database using Engine(clickhouse+native://default:***@108.142.129.124:9000/airtstaging)
24-01-09 09:08:34.656 [INFO] __main__: _download_account_id_rows_as_parquet(): query='SELECT DISTINCT * FROM infobip_data WHERE AccountId=12344 ORDER BY PersonId ASC, OccurredTimeTicks DESC'
24-01-09 09:09:08.279 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000000.parquet
24-01-09 09:09:13.163 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000001.parquet
24-01-09 09:09:17.443 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000002.parquet
24-01-09 09:09:22.089 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000003.parquet
24-01-09 09:09:26.119 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000004.parquet
24-01-09 09:09:30.501 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000005.parquet
24-01-09 09:09:34.494 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000006.parquet
24-01-09 09:09:38.793 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000007.parquet
24-01-09 09:09:42.636 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000008.parquet
24-01-09 09:09:46.797 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000009.parquet
24-01-09 09:09:50.478 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000010.parquet
24-01-09 09:09:54.403 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000011.parquet
24-01-09 09:09:57.944 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000012.parquet
24-01-09 09:10:01.794 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000013.parquet
24-01-09 09:10:05.537 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000014.parquet
24-01-09 09:10:08.809 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000015.parquet
24-01-09 09:10:12.093 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000016.parquet
24-01-09 09:10:15.334 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000017.parquet
24-01-09 09:10:18.656 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000018.parquet
24-01-09 09:10:21.781 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000019.parquet
24-01-09 09:10:25.109 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000020.parquet
24-01-09 09:10:28.082 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000021.parquet
24-01-09 09:10:31.106 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000022.parquet
24-01-09 09:10:34.215 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000023.parquet
24-01-09 09:10:36.956 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000024.parquet
24-01-09 09:10:39.561 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000025.parquet
24-01-09 09:10:42.398 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000026.parquet
24-01-09 09:10:44.963 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpikir55bk/downloaded/clickhouse_data_000000027.parquet
24-01-09 09:10:45.467 [INFO] __main__: _download_account_id_rows_as_parquet() Rewriting temporary parquet files from /tmp/tmpikir55bk/clickhouse_data_*.parquet to output directory /tmp/clickhouse_download_2dj39qmg

,AccountId,ApplicationId,DefinitionId,OccurredTime,OccurredTimeTicks
PersonId,,,,,
0,12344,,personCreated,2023-05-22 13:47:04,1684763224886
0,12344,,personEnteredFlow,2023-05-22 14:19:33,1684765173309
0,12344,,personExitedFlow,2023-05-22 15:19:56,1684768796388
0,12344,,personEnteredFlow,2023-05-24 09:07:48,1684919268908
0,12344,,personExitedFlow,2023-05-24 10:08:16,1684922896648

ddf.shape[0].compute()=27,999,602
************************************************************************************************************************

ApplicationId=''

24-01-09 09:11:06.458 [INFO] __main__: Connected to database using Engine(clickhouse+native://default:***@108.142.129.124:9000/airtstaging)
24-01-09 09:11:06.459 [INFO] __main__: _download_account_id_rows_as_parquet(): query='SELECT DISTINCT * FROM infobip_data WHERE AccountId=12344 ORDER BY PersonId ASC, OccurredTimeTicks DESC'
24-01-09 09:11:40.060 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000000.parquet
24-01-09 09:11:44.825 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000001.parquet
24-01-09 09:11:49.562 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000002.parquet
24-01-09 09:11:53.423 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000003.parquet
24-01-09 09:11:57.586 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000004.parquet
24-01-09 09:12:01.682 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000005.parquet
24-01-09 09:12:05.402 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000006.parquet
24-01-09 09:12:09.786 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000007.parquet
24-01-09 09:12:13.670 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000008.parquet
24-01-09 09:12:17.426 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000009.parquet
24-01-09 09:12:21.496 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000010.parquet
24-01-09 09:12:25.101 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000011.parquet
24-01-09 09:12:28.616 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000012.parquet
24-01-09 09:12:32.463 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000013.parquet
24-01-09 09:12:35.895 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000014.parquet
24-01-09 09:12:39.599 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000015.parquet
24-01-09 09:12:42.887 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000016.parquet
24-01-09 09:12:46.328 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000017.parquet
24-01-09 09:12:49.531 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000018.parquet
24-01-09 09:12:52.643 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000019.parquet
24-01-09 09:12:55.968 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000020.parquet
24-01-09 09:12:58.940 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000021.parquet
24-01-09 09:13:01.845 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000022.parquet
24-01-09 09:13:04.882 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000023.parquet
24-01-09 09:13:07.649 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000024.parquet
24-01-09 09:13:10.540 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000025.parquet
24-01-09 09:13:13.250 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000026.parquet
24-01-09 09:13:16.103 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpgw3ku112/downloaded/clickhouse_data_000000027.parquet
24-01-09 09:13:16.605 [INFO] __main__: _download_account_id_rows_as_parquet() Rewriting temporary parquet files from /tmp/tmpgw3ku112/clickhouse_data_*.parquet to output directory /tmp/clickhouse_download_4phlux4b

,AccountId,ApplicationId,DefinitionId,OccurredTime,OccurredTimeTicks
PersonId,,,,,
0,12344,,personCreated,2023-05-22 13:47:04,1684763224886
0,12344,,personEnteredFlow,2023-05-22 14:19:33,1684765173309
0,12344,,personExitedFlow,2023-05-22 15:19:56,1684768796388
0,12344,,personEnteredFlow,2023-05-24 09:07:48,1684919268908
0,12344,,personExitedFlow,2023-05-24 10:08:16,1684922896648

ddf.shape[0].compute()=27,999,602
************************************************************************************************************************

ApplicationId='A1F7EDD6E6BA23EBCD167C9C986ACFCB'

24-01-09 09:13:35.404 [INFO] __main__: Connected to database using Engine(clickhouse+native://default:***@108.142.129.124:9000/airtstaging)
24-01-09 09:13:35.405 [INFO] __main__: _download_account_id_rows_as_parquet(): query="SELECT DISTINCT * FROM infobip_data WHERE AccountId=12344 AND ApplicationId='A1F7EDD6E6BA23EBCD167C9C986ACFCB' ORDER BY PersonId ASC, OccurredTimeTicks DESC"
24-01-09 09:13:35.677 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpofogyl89/downloaded/clickhouse_data_000000000.parquet
24-01-09 09:13:35.681 [INFO] __main__: _download_account_id_rows_as_parquet() Rewriting temporary parquet files from /tmp/tmpofogyl89/clickhouse_data_*.parquet to output directory /tmp/clickhouse_download_bxb_a1si

Empty DataFrame
Columns: [AccountId, ApplicationId, DefinitionId, OccurredTime, OccurredTimeTicks]
Index: []

ddf.shape[0].compute()=0

In [24]:
# skip

AccountId=12344
# ModelId=10037
for ApplicationId in [None, "", "A1F7EDD6E6BA23EBCD167C9C986ACFCB"]:
    print("*"*120)
    print()
    print(f"{ApplicationId=}")
    print()
    
    output_path = Path(tempfile.mkdtemp(prefix="clickhouse_download_"))
    output_path.mkdir(exist_ok=True, parents=True)

    download_account_id_rows_as_parquet(
        account_id=AccountId,
        application_id=ApplicationId,
        output_path=output_path,
        history_size=30,
    )

    ddf = dd.read_parquet(output_path)
    display(ddf.head(31))
    display(ddf.tail(31))
    print(f"{ddf.shape[0].compute()=:,d}")
        
print("ok")

************************************************************************************************************************

ApplicationId=None

24-01-09 09:13:36.100 [INFO] __main__: Connected to database using Engine(clickhouse+native://default:***@108.142.129.124:9000/airtstaging)
24-01-09 09:13:36.101 [INFO] __main__: _download_account_id_rows_as_parquet(): query='SELECT DISTINCT * FROM infobip_data WHERE AccountId=12344 ORDER BY PersonId ASC, OccurredTimeTicks DESC LIMIT 30 BY PersonId'
24-01-09 09:14:14.927 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000000.parquet
24-01-09 09:14:19.410 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000001.parquet
24-01-09 09:14:23.155 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000002.parquet
24-01-09 09:14:27.541 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000003.parquet
24-01-09 09:14:31.401 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000004.parquet
24-01-09 09:14:35.599 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000005.parquet
24-01-09 09:14:39.352 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000006.parquet
24-01-09 09:14:43.034 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000007.parquet
24-01-09 09:14:46.980 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000008.parquet
24-01-09 09:14:50.581 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000009.parquet
24-01-09 09:14:54.057 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000010.parquet
24-01-09 09:14:57.796 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000011.parquet
24-01-09 09:15:01.077 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000012.parquet
24-01-09 09:15:04.536 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000013.parquet
24-01-09 09:15:07.767 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000014.parquet
24-01-09 09:15:11.149 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000015.parquet
24-01-09 09:15:14.245 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000016.parquet
24-01-09 09:15:17.587 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000017.parquet
24-01-09 09:15:20.526 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000018.parquet
24-01-09 09:15:23.566 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000019.parquet
24-01-09 09:15:26.328 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000020.parquet
24-01-09 09:15:29.185 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000021.parquet
24-01-09 09:15:32.059 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000022.parquet
24-01-09 09:15:34.834 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000023.parquet
24-01-09 09:15:37.365 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpdk2p9u9a/downloaded/clickhouse_data_000000024.parquet
24-01-09 09:15:37.886 [INFO] __main__: _download_account_id_rows_as_parquet() Rewriting temporary parquet files from /tmp/tmpdk2p9u9a/clickhouse_data_*.parquet to output directory /tmp/clickhouse_download_7ja7mks4

,AccountId,ApplicationId,DefinitionId,OccurredTime,OccurredTimeTicks
PersonId,,,,,
0,12344,,personExitedFlow,2023-05-25 12:59:32.000,1685019572730
0,12344,,personExitedFlow,2023-05-26 11:08:55.000,1685099335422
0,12344,,personEnteredFlow,2023-05-26 13:10:50.000,1685106650740
0,12344,,personExitedFlow,2023-05-26 13:11:37.000,1685106697981
0,12344,,personEnteredFlow,2023-05-26 15:55:26.000,1685116526147
0,12344,,personExitedFlow,2023-05-26 15:55:29.000,1685116529560
0,12344,,personEnteredFlow,2023-06-07 09:39:05.000,1686130745416
0,12344,,personEnteredFlow,2023-06-07 11:43:11.000,1686138191260
0,12344,,personTagAdded,2023-06-15 09:12:04.000,1686820324636
0,12344,,personTagDeleted,2023-06-15 09:17:39.000,1686820659774
0,12344,,personTagAdded,2023-06-15 09:28:50.000,1686821330996
0,12344,,personTagAdded,2023-06-15 09:41:49.000,1686822109222
0,12344,,personTagAdded,2023-06-15 09:55:26.000,1686822926084
0,12344,,personTagAdded,2023-06-15 09:56:01.000,1686822961380
0,12344,,personTagAdded,2023-06-15 10:01:07.000,1686823267855
0,12344,,personTagDeleted,2023-06-15 10:12:00.000,1686823920471
0,12344,,personTagAdded,2023-06-15 10:23:10.000,1686824590765
0,12344,,personEnteredFlow,2023-10-05 12:25:57.000,1696508757247
0,12344,,personExitedFlow,2023-10-05 12:26:00.000,1696508760978
0,12344,,personEnteredFlow,2023-10-05 15:11:25.000,1696518685929
0,12344,,personExitedFlow,2023-10-05 15:11:28.000,1696518688686
0,12344,,personAttributeChanged,2023-10-17 13:21:57.000,1697548917107
0,12344,,personAttributeChanged,2023-10-17 13:23:57.000,1697549037241
0,12344,,personAttributeChanged,2023-10-17 13:57:50.000,1697551070501
0,12344,,personAttributeChanged,2023-10-17 14:00:51.000,1697551251408
0,12344,,personAttributeChanged,2023-10-17 14:19:06.000,1697552346021
0,12344,,personAttributeChanged,2023-10-17 14:52:14.000,1697554334374
0,12344,,personAttributeChanged,2023-10-17 17:01:24.000,1697562084862
0,12344,,personAttributeChanged,2023-10-17 20:11:35.000,1697573495942
0,12344,,personEnteredFlow,2023-11-30 11:01:51.879,1701342111879
1,12344,,personEnteredFlow,2023-05-26 15:55:26.000,1685116526147

,AccountId,ApplicationId,DefinitionId,OccurredTime,OccurredTimeTicks
PersonId,,,,,
2113531,12344,,personExitedFlow,2023-12-08 09:45:06.129,1702028706129
2113531,12344,,personExitedFlow,2023-12-08 09:45:08.694,1702028708694
2113531,12344,,emailSent,2023-12-08 10:03:34.575,1702029814575
2113532,12344,,personCreated,2023-12-08 09:44:10.992,1702028650992
2113532,12344,,personEnteredFlow,2023-12-08 09:44:19.315,1702028659315
2113532,12344,,personExitedFlow,2023-12-08 09:44:51.744,1702028691744
2113532,12344,,emailSent,2023-12-08 10:04:52.472,1702029892472
2113533,12344,,personCreated,2023-12-08 09:44:10.992,1702028650992
2113533,12344,,personEnteredFlow,2023-12-08 09:44:18.472,1702028658472
2113533,12344,,personExitedFlow,2023-12-08 09:44:49.682,1702028689682
2113533,12344,,emailSent,2023-12-08 10:01:25.006,1702029685006
2113534,12344,,personCreated,2023-12-08 09:44:10.992,1702028650992
2113534,12344,,personEnteredFlow,2023-12-08 09:44:20.118,1702028660118
2113534,12344,,personExitedFlow,2023-12-08 09:45:15.259,1702028715259
2113534,12344,,emailSent,2023-12-08 10:02:18.745,1702029738745
2113535,12344,,personCreated,2023-12-08 09:44:10.992,1702028650992
2113535,12344,,personEnteredFlow,2023-12-08 09:44:17.799,1702028657799
2113535,12344,,personExitedFlow,2023-12-08 09:44:37.652,1702028677652
2113535,12344,,emailSent,2023-12-08 09:51:49.177,1702029109177
100000000012344,12344,,emailSent,2023-06-20 09:50:00.000,1687254600754
100000000012344,12344,,emailDelivered,2023-06-20 09:50:02.000,1687254602753
100000000012344,12344,,viberSent,2023-09-06 09:38:41.994,1693993121994
100000000012344,12344,,viberDelivered,2023-09-06 09:38:42.997,1693993122997
100000000012345,12344,,viberSent,2023-04-19 07:33:57.000,1681889637007
100000000012345,12344,,viberDelivered,2023-04-19 07:33:58.000,1681889638007
100000000012345,12344,,emailSent,2023-06-20 09:50:00.000,1687254600666
100000000012345,12344,,emailDelivered,2023-06-20 09:50:02.000,1687254602637
100000000012345,12344,,rcsSent,2023-08-01 13:50:36.000,1690897836524
100000000012345,12344,,viberSent,2023-09-06 09:38:41.000,1693993121980
100000000012345,12344,,smsSent,2023-09-06 09:38:42.000,1693993122579
100000000012345,12344,,smsDelivered,2023-09-06 09:38:43.000,1693993123580

ddf.shape[0].compute()=24,944,418
************************************************************************************************************************

ApplicationId=''

24-01-09 09:15:53.889 [INFO] __main__: Connected to database using Engine(clickhouse+native://default:***@108.142.129.124:9000/airtstaging)
24-01-09 09:15:53.890 [INFO] __main__: _download_account_id_rows_as_parquet(): query='SELECT DISTINCT * FROM infobip_data WHERE AccountId=12344 ORDER BY PersonId ASC, OccurredTimeTicks DESC LIMIT 30 BY PersonId'
24-01-09 09:16:33.083 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000000.parquet
24-01-09 09:16:37.666 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000001.parquet
24-01-09 09:16:41.733 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000002.parquet
24-01-09 09:16:46.119 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000003.parquet
24-01-09 09:16:50.041 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000004.parquet
24-01-09 09:16:54.254 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000005.parquet
24-01-09 09:16:58.014 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000006.parquet
24-01-09 09:17:01.719 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000007.parquet
24-01-09 09:17:05.732 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000008.parquet
24-01-09 09:17:09.323 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000009.parquet
24-01-09 09:17:12.859 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000010.parquet
24-01-09 09:17:16.463 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000011.parquet
24-01-09 09:17:19.780 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000012.parquet
24-01-09 09:17:23.389 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000013.parquet
24-01-09 09:17:26.590 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000014.parquet
24-01-09 09:17:30.026 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000015.parquet
24-01-09 09:17:33.146 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000016.parquet
24-01-09 09:17:36.447 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000017.parquet
24-01-09 09:17:39.462 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000018.parquet
24-01-09 09:17:42.532 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000019.parquet
24-01-09 09:17:45.602 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000020.parquet
24-01-09 09:17:48.348 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000021.parquet
24-01-09 09:17:51.050 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000022.parquet
24-01-09 09:17:53.749 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000023.parquet
24-01-09 09:17:56.438 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpwpdsjxla/downloaded/clickhouse_data_000000024.parquet
24-01-09 09:17:56.939 [INFO] __main__: _download_account_id_rows_as_parquet() Rewriting temporary parquet files from /tmp/tmpwpdsjxla/clickhouse_data_*.parquet to output directory /tmp/clickhouse_download_rn7x1gli

,AccountId,ApplicationId,DefinitionId,OccurredTime,OccurredTimeTicks
PersonId,,,,,
0,12344,,personExitedFlow,2023-05-25 12:59:32.000,1685019572730
0,12344,,personExitedFlow,2023-05-26 11:08:55.000,1685099335422
0,12344,,personEnteredFlow,2023-05-26 13:10:50.000,1685106650740
0,12344,,personExitedFlow,2023-05-26 13:11:37.000,1685106697981
0,12344,,personEnteredFlow,2023-05-26 15:55:26.000,1685116526147
0,12344,,personExitedFlow,2023-05-26 15:55:29.000,1685116529560
0,12344,,personEnteredFlow,2023-06-07 09:39:05.000,1686130745416
0,12344,,personEnteredFlow,2023-06-07 11:43:11.000,1686138191260
0,12344,,personTagAdded,2023-06-15 09:12:04.000,1686820324636
0,12344,,personTagDeleted,2023-06-15 09:17:39.000,1686820659774
0,12344,,personTagAdded,2023-06-15 09:28:50.000,1686821330996
0,12344,,personTagAdded,2023-06-15 09:41:49.000,1686822109222
0,12344,,personTagAdded,2023-06-15 09:55:26.000,1686822926084
0,12344,,personTagAdded,2023-06-15 09:56:01.000,1686822961380
0,12344,,personTagAdded,2023-06-15 10:01:07.000,1686823267855
0,12344,,personTagDeleted,2023-06-15 10:12:00.000,1686823920471
0,12344,,personTagAdded,2023-06-15 10:23:10.000,1686824590765
0,12344,,personEnteredFlow,2023-10-05 12:25:57.000,1696508757247
0,12344,,personExitedFlow,2023-10-05 12:26:00.000,1696508760978
0,12344,,personEnteredFlow,2023-10-05 15:11:25.000,1696518685929
0,12344,,personExitedFlow,2023-10-05 15:11:28.000,1696518688686
0,12344,,personAttributeChanged,2023-10-17 13:21:57.000,1697548917107
0,12344,,personAttributeChanged,2023-10-17 13:23:57.000,1697549037241
0,12344,,personAttributeChanged,2023-10-17 13:57:50.000,1697551070501
0,12344,,personAttributeChanged,2023-10-17 14:00:51.000,1697551251408
0,12344,,personAttributeChanged,2023-10-17 14:19:06.000,1697552346021
0,12344,,personAttributeChanged,2023-10-17 14:52:14.000,1697554334374
0,12344,,personAttributeChanged,2023-10-17 17:01:24.000,1697562084862
0,12344,,personAttributeChanged,2023-10-17 20:11:35.000,1697573495942
0,12344,,personEnteredFlow,2023-11-30 11:01:51.879,1701342111879
1,12344,,personEnteredFlow,2023-05-26 15:55:26.000,1685116526147

,AccountId,ApplicationId,DefinitionId,OccurredTime,OccurredTimeTicks
PersonId,,,,,
2113531,12344,,personExitedFlow,2023-12-08 09:45:06.129,1702028706129
2113531,12344,,personExitedFlow,2023-12-08 09:45:08.694,1702028708694
2113531,12344,,emailSent,2023-12-08 10:03:34.575,1702029814575
2113532,12344,,personCreated,2023-12-08 09:44:10.992,1702028650992
2113532,12344,,personEnteredFlow,2023-12-08 09:44:19.315,1702028659315
2113532,12344,,personExitedFlow,2023-12-08 09:44:51.744,1702028691744
2113532,12344,,emailSent,2023-12-08 10:04:52.472,1702029892472
2113533,12344,,personCreated,2023-12-08 09:44:10.992,1702028650992
2113533,12344,,personEnteredFlow,2023-12-08 09:44:18.472,1702028658472
2113533,12344,,personExitedFlow,2023-12-08 09:44:49.682,1702028689682
2113533,12344,,emailSent,2023-12-08 10:01:25.006,1702029685006
2113534,12344,,personCreated,2023-12-08 09:44:10.992,1702028650992
2113534,12344,,personEnteredFlow,2023-12-08 09:44:20.118,1702028660118
2113534,12344,,personExitedFlow,2023-12-08 09:45:15.259,1702028715259
2113534,12344,,emailSent,2023-12-08 10:02:18.745,1702029738745
2113535,12344,,personCreated,2023-12-08 09:44:10.992,1702028650992
2113535,12344,,personEnteredFlow,2023-12-08 09:44:17.799,1702028657799
2113535,12344,,personExitedFlow,2023-12-08 09:44:37.652,1702028677652
2113535,12344,,emailSent,2023-12-08 09:51:49.177,1702029109177
100000000012344,12344,,emailSent,2023-06-20 09:50:00.000,1687254600754
100000000012344,12344,,emailDelivered,2023-06-20 09:50:02.000,1687254602753
100000000012344,12344,,viberSent,2023-09-06 09:38:41.994,1693993121994
100000000012344,12344,,viberDelivered,2023-09-06 09:38:42.997,1693993122997
100000000012345,12344,,viberSent,2023-04-19 07:33:57.000,1681889637007
100000000012345,12344,,viberDelivered,2023-04-19 07:33:58.000,1681889638007
100000000012345,12344,,emailSent,2023-06-20 09:50:00.000,1687254600666
100000000012345,12344,,emailDelivered,2023-06-20 09:50:02.000,1687254602637
100000000012345,12344,,rcsSent,2023-08-01 13:50:36.000,1690897836524
100000000012345,12344,,viberSent,2023-09-06 09:38:41.000,1693993121980
100000000012345,12344,,smsSent,2023-09-06 09:38:42.000,1693993122579
100000000012345,12344,,smsDelivered,2023-09-06 09:38:43.000,1693993123580

ddf.shape[0].compute()=24,944,418
************************************************************************************************************************

ApplicationId='A1F7EDD6E6BA23EBCD167C9C986ACFCB'

24-01-09 09:18:13.239 [INFO] __main__: Connected to database using Engine(clickhouse+native://default:***@108.142.129.124:9000/airtstaging)
24-01-09 09:18:13.240 [INFO] __main__: _download_account_id_rows_as_parquet(): query="SELECT DISTINCT * FROM infobip_data WHERE AccountId=12344 AND ApplicationId='A1F7EDD6E6BA23EBCD167C9C986ACFCB' ORDER BY PersonId ASC, OccurredTimeTicks DESC LIMIT 30 BY PersonId"
24-01-09 09:18:13.505 [INFO] __main__: _download_account_id_rows_as_parquet() Writing data retrieved from the database to temporary file: /tmp/tmpf1ks4suz/downloaded/clickhouse_data_000000000.parquet
24-01-09 09:18:13.507 [INFO] __main__: _download_account_id_rows_as_parquet() Rewriting temporary parquet files from /tmp/tmpf1ks4suz/clickhouse_data_*.parquet to output directory /tmp/clickhouse_download_1mvjvgdj

Empty DataFrame
Columns: [AccountId, ApplicationId, DefinitionId, OccurredTime, OccurredTimeTicks]
Index: []

Empty DataFrame
Columns: [AccountId, ApplicationId, DefinitionId, OccurredTime, OccurredTimeTicks]
Index: []

ddf.shape[0].compute()=0
ok

In [25]:
# skip

ddf = dd.read_parquet("/tmp/clickhouse_download_72car5_j")
display(ddf.loc[14438].compute().head(30))
display(ddf.loc[14438].compute().tail(30))

ddf = dd.read_parquet("/tmp/clickhouse_download_gyrb53v5")
display(ddf.loc[14438].compute())

FileNotFoundError: An error occurred while calling the read_parquet method registered to the pandas backend.
Original Message: /tmp/clickhouse_download_72car5_j

## Kafka

In [ ]:
# export


def add_download_training_data(
    app: FastKafka,
    *,
    root_path: Path,
    username: str = "infobip",
) -> None:
    root_path.mkdir(exist_ok=True, parents=True)
    
    @app.produces(topic=f"{username}_training_model_status")  # type: ignore
    async def to_training_model_status(
        training_model_status: TrainingModelStatus,
    ) -> TrainingModelStatus:
        print(f"to_training_model_status({training_model_status})")
        return training_model_status

    @app.consumes(topic=f"{username}_training_model_start")  # type: ignore
    async def on_training_model_start(
        msg: TrainingModelStart, app: FastKafka = app
    ) -> None:
        try:
            print(f"on_training_model_start({msg}) started")

            AccountId = msg.AccountId
            ApplicationId = msg.ApplicationId
            ModelId = msg.ModelId
            task_type = msg.task_type

            dt = datetime.now().date().isoformat()
            path = root_path / f"AccountId-{AccountId}" / f"ApplicationId-{ApplicationId}" / f"ModelId-{ModelId}" / dt
            
            
            training_model_status = TrainingModelStatus(
                AccountId=AccountId,
                ApplicationId=ApplicationId,
                ModelId=ModelId,
                current_step=0,
                current_step_percentage=0.0,
                total_no_of_steps=3,
            )
            await app.to_training_model_status(training_model_status)

            if path.exists():
                print(
                    f"on_training_model_start({msg}): path '{path}' exists, moving on..."
                )
            else:
                # this mean we can download data from clickhouse

                path.mkdir(parents=True, exist_ok=True)

                print(f"on_training_model_start({msg}): downloading data to '{path}'...")
                with using_cluster("cpu"):
                    download_account_id_rows_as_parquet(
                        account_id=AccountId,
                        application_id=ApplicationId,
                        output_path=path,
                    )

                print(f"on_training_model_start({msg}): data downloaded to '{path}'...")

            training_model_status = TrainingModelStatus(
                AccountId=AccountId,
                ApplicationId=ApplicationId,
                ModelId=ModelId,
                current_step=0,
                current_step_percentage=1.0,
                total_no_of_steps=3,
            )
            await app.to_training_model_status(training_model_status)

        finally:
            print(f"on_training_model_start({msg}) finished.")

In [ ]:
# with monkeypatch_clickhouse_params_from_env_vars():

kafka_brokers = dict(
    localhost={
        "url": "localhost",
        "port": 9092,
    },
    staging={
        "url": environ["KAFKA_HOSTNAME"],
        "port": environ["KAFKA_PORT"],
        "description": "Staging Kafka broker",
        "protocol": "kafka-secure",
        "security": {"type": "scramSha256"},
    }
)
app = FastKafka(kafka_brokers=kafka_brokers)

with TemporaryDirectory(prefix="infobip_downloader_") as d:
    root_path = Path(d)

    add_download_training_data(app, root_path=root_path)

    tester = Tester(app)

    async with tester:
        AccountId = 317238
        ModelId = "10051"
        ApplicationId = "MobileApp"

        training_model_start = TrainingModelStart(
            AccountId=AccountId,
            ApplicationId=ApplicationId,
            ModelId=ModelId,
            no_of_records=1_000,
            task_type="churn",
        )

        heading(f"tester.to_infobip_training_model_start({training_model_start})")

        await tester.to_infobip_training_model_start(training_model_start)

        heading(
            f"tester.awaited_mocks.on_infobip_training_model_status.assert_called()"
        )

        await tester.awaited_mocks.on_infobip_training_model_status.assert_called(
            timeout=30
        )

        dt = datetime.now().date().isoformat()
        data_path = (
            root_path
            / f"AccountId-{AccountId}"
            / f"ApplicationId-{ApplicationId}"
            / f"ModelId-{ModelId}"
            / dt
            / "part.0.parquet"
        )
        assert data_path.exists(), data_path


print("ok")

In [ ]:
# export


def create_app(*, root_path: Optional[Path]=None, group_id: Optional[str] = None) -> FastKafka:
    if group_id is None:
        group_id = f"infobip-downloader-{random.randint(100_000_000, 999_999_999):0,d}".replace( # nosec: B311:blacklist
            ",", "-"
        )
        
    print(f"{group_id=}")
    if root_path is None:
        root_path = Path(".") / group_id

    app = create_fastkafka_application(group_id=group_id)

    add_logging(app)
    add_download_training_data(app, root_path=root_path)
    
    return app

In [ ]:
# skip


app = create_app(group_id=downloading_group_id)

app.set_kafka_broker("staging")

async with app:
    while(True):
        await asyncio.sleep(1)